# SQL Database Chain Demo

In [1]:
import ast
import sys
from pathlib import Path
import warnings

from dotenv import load_dotenv


sys.path.append('..')
load_dotenv()

import duckdb
from duckdb_engine import DuckDBEngineWarning
warnings.filterwarnings("ignore", category=DuckDBEngineWarning)

In [2]:
import chainlit as cl
from langchain.chat_models.openai import ChatOpenAI
from langchain_experimental.sql import SQLDatabaseChain

from app.database import DATABASE

In [3]:
llm = ChatOpenAI(
    model_name='gpt-3.5-turbo-16k-0613',
    temperature=0,
    streaming=True
)
chain = SQLDatabaseChain.from_llm(
    llm=llm,   
    db=DATABASE,
)

In [4]:
ast.literal_eval(DATABASE.run("SELECT * FROM sqlite_master"))

[('table',
  'organizations',
  'organizations',
  0,
  'CREATE TABLE organizations(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank DOUBLE, created_at TIMESTAMP, updated_at TIMESTAMP, legal_name VARCHAR, roles VARCHAR, "domain" VARCHAR, homepage_url VARCHAR, country_code VARCHAR, state_code VARCHAR, region...'),
 ('table',
  'org_parents',
  'org_parents',
  0,
  'CREATE TABLE org_parents(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank BIGINT, created_at TIMESTAMP, updated_at TIMESTAMP, parent_uuid VARCHAR, parent_name VARCHAR);'),
 ('table',
  'events',
  'events',
  0,
  'CREATE TABLE events(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank DOUBLE, created_at TIMESTAMP, updated_at TIMESTAMP, short_description VARCHAR, started_on DATE, ended_on DATE, event_url VARCHAR, registration_url VARCHAR, venue_name VARCHAR, description...'),
 ('table',
  'organization_descriptions',
  'organization_descriptions',
  0,
  'CREATE TABLE organization_descriptions(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank DOUBLE, created_at TIMESTAMP, updated_at TIMESTAMP, description VARCHAR);'),
 ('table',
  'jobs',
  'jobs',
  0,
  'CREATE TABLE jobs(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank VARCHAR, created_at TIMESTAMP, updated_at TIMESTAMP, person_uuid VARCHAR, person_name VARCHAR, org_uuid VARCHAR, org_name VARCHAR, started_on DATE, ended_on DATE, is_current BOOLEAN, title...'),
 ('table',
  'people_descriptions',
  'people_descriptions',
  0,
  'CREATE TABLE people_descriptions(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank DOUBLE, created_at TIMESTAMP, updated_at TIMESTAMP, description VARCHAR);'),
 ('table',
  'funding_rounds',
  'funding_rounds',
  0,
  'CREATE TABLE funding_rounds(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank DOUBLE, created_at TIMESTAMP, updated_at TIMESTAMP, country_code VARCHAR, state_code VARCHAR, region VARCHAR, city VARCHAR, investment_type VARCHAR, announced_on DATE,...'),
 ('table',
  'ipos',
  'ipos',
  0,
  'CREATE TABLE ipos(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank BIGINT, created_at TIMESTAMP, updated_at TIMESTAMP, org_uuid VARCHAR, org_name VARCHAR, org_cb_url VARCHAR, country_code VARCHAR, state_code VARCHAR, region VARCHAR, city VARCHAR,...'),
 ('table',
  'acquisitions',
  'acquisitions',
  0,
  'CREATE TABLE acquisitions(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank BIGINT, created_at TIMESTAMP, updated_at TIMESTAMP, acquiree_uuid VARCHAR, acquiree_name VARCHAR, acquiree_cb_url VARCHAR, acquiree_country_code VARCHAR, acquiree_state_code VARCHAR,...'),
 ('table',
  'people',
  'people',
  0,
  'CREATE TABLE people(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank DOUBLE, created_at TIMESTAMP, updated_at TIMESTAMP, first_name VARCHAR, last_name VARCHAR, gender VARCHAR, country_code VARCHAR, state_code VARCHAR, region VARCHAR, city VARCHAR,...'),
 ('table',
  'funds',
  'funds',
  0,
  'CREATE TABLE funds(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank VARCHAR, created_at TIMESTAMP, updated_at TIMESTAMP, entity_uuid VARCHAR, entity_name VARCHAR, entity_type VARCHAR, announced_on DATE, raised_amount_usd DOUBLE, raised_amount DOUBLE,...'),
 ('table',
  'investors',
  'investors',
  0,
  'CREATE TABLE investors(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank DOUBLE, created_at TIMESTAMP, updated_at TIMESTAMP, roles VARCHAR, "domain" VARCHAR, country_code VARCHAR, state_code VARCHAR, region VARCHAR, city VARCHAR, investor_types VARCHAR,...'),
 ('table',
  'event_appearances',
  'event_appearances',
  0,
  'CREATE TABLE event_appearances(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank VARCHAR, created_at TIMESTAMP, updated_at TIMESTAMP, event_uuid VARCHAR, event_name VARCHAR, participant_uuid VARCHAR, participant_name VARCHAR, participant_type VARCHAR,...'),
 ('table',
  'category_groups',
  'category_groups',
  0,
  'CREATE TABLE category_groups(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank VARCHAR, created_at TIMESTAMP, updated_at TIMESTAMP, category_groups_list VARCHAR);'),
 ('table',
  'degrees',
  'degrees',
  0,
  'CREATE TABLE degrees(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank VARCHAR, created_at TIMESTAMP, updated_at TIMESTAMP, person_uuid VARCHAR, person_name VARCHAR, institution_uuid VARCHAR, institution_name VARCHAR, degree_type VARCHAR, subject VARCHAR,...'),
 ('table',
  'investment_partners',
  'investment_partners',
  0,
  'CREATE TABLE investment_partners(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank VARCHAR, created_at TIMESTAMP, updated_at TIMESTAMP, funding_round_uuid VARCHAR, funding_round_name VARCHAR, investor_uuid VARCHAR, investor_name VARCHAR, partner_uuid VARCHAR,...'),
 ('table',
  'investments',
  'investments',
  0,
  'CREATE TABLE investments(uuid VARCHAR, "name" VARCHAR, "type" VARCHAR, permalink VARCHAR, cb_url VARCHAR, rank VARCHAR, created_at TIMESTAMP, updated_at TIMESTAMP, funding_round_uuid VARCHAR, funding_round_name VARCHAR, investor_uuid VARCHAR, investor_name VARCHAR, investor_type VARCHAR,...')]

In [5]:
DATABASE.run("SELECT COUNT(*) FROM information_schema.tables")

'[(17,)]'

In [6]:
result = chain.run("How many tables are there in the database?")
print(result)

There are 14 tables in the database.

In [7]:
result = chain.run("What are the tables contained in the database?")
print(result)

tables
acquisitions
category_groups
degrees
event_appearances
events
funding_rounds
funds
investment_partners
investments
investors
ipos
jobs
org_parents
organization_descriptions
organizations
people
people_descriptions

In [8]:
result = chain.run("What are the fields for the ipos table")
print(result)

The fields for the ipos table are:
- uuid
- name
- type
- permalink
- cb_url
- rank
- created_at
- updated_at
- org_uuid
- org_name
- org_cb_url
- country_code
- state_code
- region
- city
- stock_exchange_symbol
- stock_symbol
- went_public_on
- share_price_usd
- share_price
- share_price_currency_code
- valuation_price_usd
- valuation_price
- valuation_price_currency_code
- money_raised_usd
- money_raised
- money_raised_currency_code

In [9]:
DATABASE.dialect

'duckdb'